.files-container{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.code-container{
    background-color: var(--pale-yellow);
}

.description{
    color: var(--dark-grey);
    font-style: italic;
}